@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Button to redirect to DataTransfer/Notification -->
<a asp-controller="DataTransfer" asp-action="GotAll" class="btn btn-primary">Go to DataShow Page</a>
